<h1>Editing entity group</h1>

<%= render "form", entity_group: @entity_group %>

<br>

<div>
  <%= link_to "Show this entity group", @entity_group %> |
  <%= link_to "Back to entity groups", entity_groups_path %>
</div>
