<div class="group entity box">
  <h2>
    <%# image_tag @group.icon || 'icon', style: 'height:64px;width:64px', class: 'grp-icon' %>
    <span><%= @entity.name %></span>
    <small>$<%= @entity.amount %></small>
  </h2>
  <hr>
  <%= render @groups %>
</div>

<div class="actions">
  <%= render "shared/notice" %>
  <%# button_to "Add Category", entities_path %>
</div>
