<section id="groups" class="padding">
    <% @groups.each do |group| %>
      <%= link_to group, class: "grp box" do %>
        <%= render group %>
      <% end %>
    <% end %>

  <%= link_to "New group", new_group_path %>
</section>
