<section id="groups" class="padding">
  <div class="index_items">
    <% @groups.each do |group| %>
      <%= link_to group, class: "grp box" do %>
        <%= render group %>
      <% end %>
    <% end %>
  </div>

  <div class="actions"><%= button_to "New Group", new_group_path, method: :get, class: "active" %></div>
</section>
